<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/article.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/katex/katex.min.css" />
    <script defer src="/static/katex/katex.min.js"></script>
    <script defer src="/static/katex/contrib/auto-render.min.js"></script>
  </head>
  <body>
    <div class="page-container">
      <a href="/" class="back-link">← Back to Home</a>

      <div class="article-detail">
        <!-- Left Side: Poster -->
        <div class="poster-container">
          <img class="poster" src="{{ .ImageUrl }}" alt="{{ .Title }} image" />
        </div>

        <!-- Right Side: Core Info -->
        <div class="core-info">
          <h1>{{ .Title }}</h1>
          <p><strong>Author:</strong> {{ .Author }}</p>
          <p>
            <strong>Published:</strong> {{ .CreatedAt.Format "Jan 02, 2006" }}
          </p>
          <p>
            <strong>Last Updated:</strong> {{ .UpdatedAt.Format "Jan 02, 2006"
            }}
          </p>
        </div>

        <!-- Full Width: Description -->
        <div class="description-container">
          <hr style="margin-bottom: 1rem" />
          <div class="prose">{{ .DescriptionHTML }}</div>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        renderMathInElement(document.querySelector(".prose"), {
          delimiters: [
            { left: "$$", right: "$$", display: true },
            { left: "$", right: "$", display: false },
            { left: "\\(", right: "\\)", display: false },
            { left: "\\[", right: "\\]", display: true },
          ],
          throwOnError: false,
          ignoredTags:[]
        });
      });
    </script>
  </body>
</html>
